# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
data/incidents/M18/raw/

data/incidents/M62/raw/

data/incidents/Italy/raw/

data/incidents/M18/clean/incidents.csv
data/incidents/M62/clean/incidents.csv
data/incidents/Italy/clean/incidents.csv
data/incidents/M18/webtris/traffic_counts_matched.csv
data/incidents/M62/webtris/traffic_counts_matched.csv
data/ptv_events_data_5minutes_motorway_1week/ptv_events_data_5minutes_motorway_1week.csv
data/incidents/M62/clean/incidents.Rds
data/incidents/M62/clean/incidents.csv
data/incidents/M18/clean/incidents.zip
data/incidents/M62/webtris/traffic_counts.Rds
*.cfe
*.cfs
*.si
*.fdt
*.fdx
*.fnm
lucene/
data/TENtec Points/Rail_SHP/TEN_tec_Rail.shx
data/TENtec Points/Rail_SHP/TEN_tec_Rail.shp
data/TENtec Points/Rail_SHP/TEN_tec_Rail.qpj
data/TENtec Points/Rail_SHP/TEN_tec_Rail.prj
data/TENtec Points/Rail_SHP/TEN_tec_Rail.dbf
data/TENtec Points/Rail_SHP/TEN_tec_Rail.cpg
data/TENtec Points/Rail_PNG/Rail_Rom.Bulg.png
data/TENtec Points/Rail_PNG/Rail_Iber.png
data/TENtec Points/Rail_PNG/Rail_Cent_EU.png
data/TENtec Points/Ports_SHP/TENtec_Ports_Final.shx
data/TENtec Points/Ports_SHP/TENtec_Ports_Final.shp
data/TENtec Points/Ports_SHP/TENtec_Ports_Final.qpj
data/TENtec Points/Ports_SHP/TENtec_Ports_Final.prj
data/TENtec Points/Ports_SHP/TENtec_Ports_Final.dbf
data/TENtec Points/Ports_SHP/TENtec_Ports_Final.cpg
data/TENtec Points/Ports_PNG/Ports_turkcoast.png
data/TENtec Points/Ports_PNG/Ports_LowLands.png
data/TENtec Points/Ports_PNG/Ports_France.png
data/TENtec Points/Ports_PNG/ports_cent.png
data/TENtec Points/Ports_PNG/Ports_Bulg-Rom.png
data/TENtec Points/Airports_SHP/TENtec_Airports.shx
data/TENtec Points/Airports_SHP/TENtec_Airports.shp
data/TENtec Points/Airports_SHP/TENtec_Airports.qpj
data/TENtec Points/Airports_SHP/TENtec_Airports.qmd
data/TENtec Points/Airports_SHP/TENtec_Airports.prj
data/TENtec Points/Airports_SHP/TENtec_Airports.dbf
data/TENtec Points/Airports_SHP/TENtec_Airports.cpg
data/TENtec Points/Airports_PNG/Air3.PNG
data/TENtec Points/Airports_PNG/Air2.PNG
data/TENtec Points/Airports_PNG/Air1.png
data/tentec-routes-190311.Rds
data/tentec-routes-profiles.Rds
data/tentec-routes.Rds
